
#container {
 	width: 700px;
 	height: 445px;
 	border: 3px solid #333;
 	overflow: hidden;
 	position: relative;
 }
 
 #list {
 	width: 4900px;
 	height: 445px;
 	position: absolute;
 	z-index: 1;
 }
 
 #list img {
 	float: left;
 }
 
 #buttons {
 	position: absolute;
 	height: 10px;
 	width: 100px;
 	z-index: 2;
 	bottom: 20px;
 	left: 250px;
 }
 
 #buttons span {
 	cursor: pointer;
 	float: left;
 	border: 1px solid #fff;
 	width: 10px;
 	height: 10px;
 	border-radius: 50%;
 	background: #333;
 	margin-right: 5px;
 }
 
 #buttons .on {
 	background: orangered;
 }
 
 .arrow {
 	cursor: pointer;
 	display: none;
 	line-height: 39px;
 	text-align: center;
 	font-size: 36px;
 	font-weight: bold;
 	width: 40px;
 	height: 40px;
 	position: absolute;
 	z-index: 2;
 	top: 180px;
 	background-color: RGBA(0, 0, 0, .3);
 	color: #fff;
 }
 img{
 	opacity: 0.4;
 }
 .arrow:hover {
 	background-color: RGBA(0, 0, 0, .7);
 }
 
 #container:hover .arrow {
 	display: block;
 }
 
 #prev {
 	left: 20px;
 }
 
 #next {
 	right: 20px;
 }