/********sucess.jsp样式开始*************/
.loginBoole {
    width: 380px;
    height: 236px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -118px 0px 0px -190px;
    background: url(../img/sucess.gif) no-repeat 0px 30px #fff;
}
/********sucess.jsp样式开始*************/
