ul{
    list-style: none;
}

.left-menu{
    width: 100px;
    height: 300px;
    position: fixed;
    left: 3%;
    top: 30%;
    z-index: 2;
}
.left-menu ul{
    background-color: rgba(0,0,0,0.1);
    border-radius: 8px;
}
.left-menu ul li{
    margin-left: -10px;
    width: 100px;
    height: 48px;
}
.left-menu ul li a{
    color: #0e0e0e;
    font-family:Haettenschweiler;
    font-size: 16px;
    text-align: center;
}
